<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-boek-my-suffix-heading">Create or edit a Boek</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!boek.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_titel">Titel</label>
                    <input type="text" class="form-control" name="titel" id="field_titel"
                           formControlName="titel"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_auteur">Auteur</label>
                    <input type="text" class="form-control" name="auteur" id="field_auteur"
                           formControlName="auteur"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paginas">Paginas</label>
                    <input type="number" class="form-control" name="paginas" id="field_paginas"
                           formControlName="paginas"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_korteInhoud">Korte Inhoud</label>
                    <input type="text" class="form-control" name="korteInhoud" id="field_korteInhoud"
                           formControlName="korteInhoud"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
