<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-persoon-my-suffix-heading">Create or edit a Persoon</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_naam">Naam</label>
                    <input type="text" class="form-control" name="naam" id="field_naam"
                           formControlName="naam"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voornaam">Voornaam</label>
                    <input type="text" class="form-control" name="voornaam" id="field_voornaam"
                           formControlName="voornaam"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_wenslijst">Wenslijst</label>
                    <select class="form-control" id="field_wenslijst" name="wenslijst" formControlName="wenslijstId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="boekOption.id" *ngFor="let boekOption of boeks; trackBy: trackBoekById">{{boekOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_boekenlijst">Boekenlijst</label>
                    <select class="form-control" id="field_boekenlijst" name="boekenlijst" formControlName="boekenlijstId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="boekOption.id" *ngFor="let boekOption of boeks; trackBy: trackBoekById">{{boekOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gelezen">Gelezen</label>
                    <select class="form-control" id="field_gelezen" name="gelezen" formControlName="gelezenId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="boekOption.id" *ngFor="let boekOption of boeks; trackBy: trackBoekById">{{boekOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
