<div>
    <h2 id="page-heading">
        <span>Persoons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-persoon-my-suffix" [routerLink]="['/persoon-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Persoon
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="persoons?.length === 0">
        <span>No persoons found</span>
    </div>
    <div class="table-responsive" *ngIf="persoons?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Naam</span></th>
            <th scope="col" ><span>Voornaam</span></th>
            <th scope="col" ><span>Wenslijst</span></th>
            <th scope="col" ><span>Boekenlijst</span></th>
            <th scope="col" ><span>Gelezen</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let persoon of persoons ;trackBy: trackId">
                <td><a [routerLink]="['/persoon-my-suffix', persoon.id, 'view' ]">{{persoon.id}}</a></td>
                <td>{{persoon.naam}}</td>
                <td>{{persoon.voornaam}}</td>
                <td>
                    <div *ngIf="persoon.wenslijstId">
                        <a [routerLink]="['/boek-my-suffix', persoon.wenslijstId , 'view' ]" >{{persoon.wenslijstId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="persoon.boekenlijstId">
                        <a [routerLink]="['/boek-my-suffix', persoon.boekenlijstId , 'view' ]" >{{persoon.boekenlijstId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="persoon.gelezenId">
                        <a [routerLink]="['/boek-my-suffix', persoon.gelezenId , 'view' ]" >{{persoon.gelezenId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/persoon-my-suffix', persoon.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/persoon-my-suffix', persoon.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/persoon-my-suffix', { outlets: { popup: persoon.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
